<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>拼接服务配置</title>
		<link rel="stylesheet" href="layui/css/layui.css" type="text/css"/> 
		<link rel="stylesheet" href="layui/css/stich.css" type="text/css"/>
		<script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/stich.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/stitch_form.js" type="text/javascript" charset="utf-8"></script>
		
		<style>

		/* 为了区分效果 */
		div[carousel-item]>*{color: #fff;}
		div[carousel-item]>*:nth-child(2n){background-color: #EEEEEE;}
		div[carousel-item]>*:nth-child(2n+1){background-color: #F0F0F0;}
		
		.layui-nav-tree #third a{
			font-size: 5px
		}
		</style>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo"><img src="img/vista_daemon.png" class="layui-nav-img">Leopard</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item">
						<a href=""></a>
					</li>
					<li class="layui-nav-item">
						<a href=""></a>
					</li>
					<li class="layui-nav-item">
						<a href=""></a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;"></a>
						<dl class="layui-nav-child">
							<dd>
								<a href=""></a>
							</dd>
							<dd>
								<a href=""></a>
							</dd>
							<dd>
								<a href=""></a>
							</dd>
						</dl>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="img/logo.ico" class="layui-nav-img"> 天睿
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="">基本资料</a>
							</dd>
							<dd>
								<a href="">安全设置</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="">退出</a>
					</li>
				</ul>
			</div>
	
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="stich" href="javascript:;">北京天睿空间拼接一dddddd</a>
							<dl class="layui-nav-child" id="second">
								<dd  style="list-style-image: url(img/logo.ico);">
									<a href=" ">相机一</a>
								</dd>
								<dd>
									<a href=" ">相机二</a>
								</dd>
								<dd>
									<a href=" ">相机三</a>
								</dd>
								<dd>
									<a href=" ">相机四</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="stich" href="javascript:;">拼接二</a>
							<dl class="layui-nav-child" id="second">
								<dd>
									<a href=" ">相机一</a>
								</dd>
								<dd>
									<a href=" ">相机二</a>
								</dd>
								<dd>
									<a href=" ">相机三</a>
								</dd>
								<dd>
									<a href=" ">相机四</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="stich" href="#" style="background-color: #262626 !important;">
								<div id="pano-add"><img id="add-image">&nbsp&nbsp&nbsp&nbsp&nbsp添加</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-tab layui-tab-brief" id="gputab_outer">
				<div id="gputab_inner">
					<ul class="layui-tab-title">
			    		<li class="layui-this">资源占用</li>
					</ul>
					<div class="layui-tab-content">
				    	<div class="layui-tab-item layui-show">
				    		<form class="layui-form layui-form-pane1" action="" lay-filter="first" id="gpucontent">
								<div class="layui-form-item">
									<label class="layui-form-label">CPU-1</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" value="50%" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">CPU-2</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">CPU-3</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">内存</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">硬盘</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">显卡1</label>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">GPU</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">显存</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">编码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">解码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">显卡2</label>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">GPU</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">显存</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">编码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">解码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">显卡3</label>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">GPU</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">显存</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">编码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label gpu-label">解码</label>
									<div class="layui-input-block">
										<input type="text" readonly="readonly" name="title" lay-verify="required|title"  autocomplete="off" class="layui-input gpu-input">
									</div>
								</div>
							</form>
				    	</div>
					</div>
				</div>
		   </div>
			<div class="layui-body" id="body_main_content">
				<!-- 内容主体区域 -->
				<div class="layui-carousel" id="stichparam" lay-filter="test1" >
					<div  carousel-item id="caritem">
					    <div id="water_grid" class="water_grid">
					    	<div class="box">
					    		<div class="stichitem">
					    			<div class="layui-card">
								        <div class="layui-card-header">
								        	<div id="layui-card-header-name">北京天睿空间拼接一ddddd</div>
								        </div>
								        <div class="layui-card-body">
								        	<button class="layui-btn" id="delete"></button>
											<button class="layui-btn" id="modify"></button>
								        	<button class="layui-btn layui-btn-normal layui-btn-radius" id="play" data-method="setTop"></button>
								        	<button class="layui-btn" id="panostatus"><span class="layui-badge-dot layui-bg-red"></span>&nbsp&nbsp&nbsp崩溃</button>
								        	<form class="layui-form layui-form-pane1" action="" lay-filter="first" id="panocontent">
												<div class="layui-form-item">
													<label class="layui-form-label">编号</label>
													<div class="layui-input-block" >
														<input type="text" readonly="readonly" name="title"  lay-verify="required|title" required placeholder="拼接ID" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">名称</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="拼接名称" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item"> 
													<label class="layui-form-label">显卡</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="显卡类型" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">相机1</label>
													<div class="layui-input-block" >
														<input type="text" readonly="readonly" name="title" value="rtsp://admin:trkj88888@192.168.5.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1" lay-verify="required|title" required placeholder="相机rtsp地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">相机2</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="相机rtsp地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item"> 
													<label class="layui-form-label">相机3</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="相机rtsp地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">相机4</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="相机rtsp地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">类型</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="相机rtsp地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">输出1</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="拼接输出流地址" autocomplete="off" class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">输出2</label>
													<div class="layui-input-block">
														<input type="text" readonly="readonly"  name="title" lay-verify="required|title" required placeholder="拼接输出流地址" autocomplete="off" class="layui-input">
													</div>
												</div>
											</form>
								        </div>
								        <span class="layui-nav-bar" style="z-index: 0;"></span>
								     </div>
					    		</div>	
					    	</div>
					    </div>
						<div id="page"></div>
						<div id="page" class="layui-carousel" >
							<iframe src="http://192.168.5.235/doc/page/login.asp?_1546069849761"  width="100%" height="100%" ></iframe>
						</div>
					</div>   
				</div>
				<!--<div id="camerabox" class="layui-carousel" >
					<iframe src="http://www.baidu.com"  width="100%" height="100%" ></iframe>
				</div>-->
			</div>
			

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© www.iseetech.com.cn - 北京天睿空间科技股份有限公司
			</div>
		</div>
	</body>
	<script>
		
//		$(document).ready(function(){
//			var $panoa = $('#pano-add').parent();
//			console.log("查找父元素！");
//			console.log($panoa);
//		    $panoa.on("click","div",function(event){
//		  		console.log("here!");
//				$('#page').load('form.html');
//				$.getScript("js/stitch_form.js", function(){});
//				
//							  
//				var iHeight =$("#body_main_content")[0].offsetHeight;
//				var iWidth = $("#body_main_content")[0].offsetWidth;
//				console.log(iHeight,iWidth);
//				//建造实例
//				var instich2 = carousel.render({
//				    elem: '#stichparam'
//				    ,index: 1
//					,width: iWidth+'px'
//					,height: iHeight+'px'
//		            //	 ,full: true 
//				    ,arrow: 'hover'
//				    ,autoplay: false
//				    //,indicator: 'outside'
//				    ,trigger: 'hover'
//				});
//				  
//				//事件
//				carousel.on('change(test1)', function(obj){
//				    console.log(obj.index);
//				});
//		
//			})
//		    
//		    
//		});

	</script>
</html>
